/MAT Files
/GT Files
/cache_files
/KSS/__pycache__/
Salinas.jl
Local TestFiles/
.vscode/
/TSC_Python/__pycache__/
/OSCD Test/
/OSCD Train/
/CZ_hsdb/
/Onera Satellite Change Detection dataset - Images/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*-checkpoint.ipynb
site/